<section style="min-height: 100vh">
  @for (example of examples; track $index) {
  <div class="title" [innerText]="example.title"></div>
  @if(example.subtitle){
  <div class="subtitle" [innerText]="example.subtitle"></div>
  }
  <div class="row">
    <div
      [ngxCountAnimation]="example.value"
      [duration]="example.duration ?? 2000"
      [maximumFractionDigits]="example.maximumFractionDigits ?? 0"
      [minimumFractionDigits]="example.minimumFractionDigits ?? 0"
      [enableLayoutChangeDetection]="example.enableLayoutChangeDetection"
    ></div>
    <button class="random-btn" (click)="toggleValue(example)">Random</button>
  </div>
  }
</section>

<section>
  <div class="title">Trigger when scrolling in viewport</div>
  <div #ref [ngxCountAnimation]="1000000"></div>
</section>
